<template name="Home">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

	<div class="page-container container" id="content" style="background-color: white">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>

        <div id="slider3"></div>


        <div class="col-md-12" id="selectorPanel">

            <div class="col-md-4">


                <form class="pure-form form-group">
                    <fieldset>

                        <input type="email" placeholder="Artist">
                        <button type="submit" class="btn btn-primary">Show Results</button>
                    </fieldset>
                </form>

            </div>

            <div class="col-md-8">
                <input type="range" id="myRange" min="1" max="30" style="width: 500px; margin:0px"
                       onchange="myFunction()">


                <p id="demo"></p>

                <script>
                    function myFunction() {
                        var x = document.getElementById("myRange").value;
                        document.getElementById("demo").innerHTML = x;
                    }
                </script>



                <button id="getRequest"> Click me! </button>


            </div>




            <!--<form method="post">-->
            <!--<div data-role="rangeslider">-->
            <!--<label for="price-min">Ranking:</label>-->
            <!--<input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">-->
            <!--<label for="price-max">Ranking:</label>-->
            <!--<input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">-->
            <!--</div>-->
            <!--<input type="submit" data-inline="true" value="Submit">-->
            <!--</form>-->


        </div>

        <div id="usMap"> </div>

        <table class="table resultsTable">
            <thead class="thead-inverse">
            <tr>
                <th>
                    Ranking
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByRankingButton"></i>
                </th>
                <th>
                    City
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByCityButton"></i>
                </th>
                <th>
                    Popularity Index
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByPopularityButton"></i>
                </th>
                <th>
                    Revenue
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByRevenueButton"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>


    </div>





</template>

